/**************
Functions
20/01/2022
**************/

// animation: shakeX 0.8s ease-in-out 150ms;
// animation: smooth 0.8s ease-in-out 150ms;
// animation: slideX 0.8s ease-in-out 150ms;
// animation: turnOver 0.8s ease-in-out 150ms;

@keyframes turnOver {
    from {
        opacity:0;
        transform:rotate(360deg);
    }
    to {
        opacity:1;
        transform:rotate(-360deg);
    }
}



@keyframes openSlide {
    from {
        opacity:0;
        transform: translateY(-40px)
    }
    to {
        opacity:1;
        transform: translateY(0px)
    }
}

@keyframes openSlide02 {
    from {
        opacity:0;
        transform: translateY(0px)
    }
    to {
        opacity:1;
        transform: translateY(-20px)
    }
}

@keyframes slideX {
    from {
        opacity:0.6;
        transform: translateX(0px)
    }
    to {
        opacity:1;
        transform: translateX(-100px)
    }
}


@keyframes slideX02 {
    from {
        opacity:0.2;
        transform: translateX(100px)
    }
    to {
        opacity:1;
        transform: translateX(0px)
    }
}



@keyframes smooth {
    from {
        opacity:0.6; 
       
    }
    to {
        opacity:1;
        
    }
}

@keyframes shakeX {
    0% {
        color:#fff;
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-5px);
        
    }
    40% {
        opacity:0.5;
        transform: translateX(5px);
    }
    60% {
        color:#ccc;
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    100%{
        opacity:1;
        transform: translateX(0px);
    }
}

@keyframes shakeY02 {
    0% {
        opacity:0;
        background:#fff;
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-15px);
        
    }
    40% {
        opacity:0.3;
        transform: translateY(15px);
    }
    60% {
        color:#ccc;

        transform: translateY(-15px);
    }
    80% {
        transform: translateY(15px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}

@keyframes shakeY {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }

}




