/**************
Flexbox
20/01/2022
**************/

/***************
FLEX
display: flex;
flex-direction: column;
align-items: center;

flex-flow: row wrap;
justify-content: center;
flex-direction: column;
justify-content: center;
align-items: center;
**************/

//@include flex-center;
//@include flex-start;
//@include flex-icon;
//@include flex-col;

@mixin flex-center {
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
@mixin flex-start {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;   
    } 
  
@mixin flex-icon {
    display: inline-flex;
    align-items: center;
    justify-content:space-between;  
} 
  
@mixin flex-icon02 {
    display: inline-flex;
    align-items: center;
    justify-content:space-around;  
 } 

 @mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:center;
 }

