/**************
Footer
20/01/2022
**************/


/***************
  FOOTER
  ***************/
  footer {
    width: 100%;
    background:$greydark;
    color:$white;
  }
  
  .footer_nav{
    display:flex;
    h3 {
      // margin-left:14px;
      line-height:0.9;
    }
    ul a {
      color:$white;
      margin:10px;
      padding:4px;
      text-decoration:none;
      &:hover {
        text-decoration: underline;
    }
    }
    ul li{
      font-size:15px;
      padding:3px; 

    }
  }
  
  .itemFooter{
    display:flex;
    flex-flow: column wrap;
    align-items: flex-start;
  }
  
  

  
  