/**************
header
20/01/2022
**************/
.header-nav{
  width: 100%; 
  @include flex-center;
  // @include flex-icon02;
  background:$white;
  @include bordershadow02;
  h1{
    animation: shakeX 800ms ease-out 250ms;
  }
  h2{
    text-align:center;
    font-size:16px;
  }
  .back{
    position:relative;
    color:$black;
    font-size: 22px;
    // align-self:flex-start;
    left:-70px;
    &:hover {
      i.fas{
        animation: shakeX 0.8s ease-in-out 150ms;
        color:$colour-primary;
       }
      }
  }
} 

.header-map{
  opacity:0.6;
  background:$greylight02;
  text-align:center;
}

.info{
  // overflow:hidden;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:center;
  background: $greylight02;
  padding-bottom:50px;
  header{
    opacity:0.85;
    display:block;
    width:100%;
    background: $greylight03;
    h2{
      
      text-align:center;

    }
    } 
    h3{
      width:80%;
      text-align:center;
      margin-top:30px;
      font-size:22px;
    }
    p{
      width:80%;
      text-align:center;
      font-size:18px;
      color:$greym;
    } 
}

/* Page Restaurant */
.header__resto{
  height: 260px;
  // margin:0;
  // padding:0;
  // background-image:url("../images/small/restaurant_lanoteenchantee_ohmyfood.jpg");
  &__image {
    // max-width:400px; 
    // opacity:0.6;
    object-fit: cover;
    @include img-ratio;
}
  // img{
  //   max-width:400px; 
  //   opacity:0.6;
  //   object-fit: cover;
  //   
  //   }
} 


