/**************
Navigation
20/01/2022
**************/

.nav {
  background: $white;
  padding-bottom:40px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none; 
  padding:20px;
}
