/**************
Home
20/01/2022
**************/

/***************
sections
**************/
main {
  max-width: 400px;/*400 992*/
  margin: $center-margin;
  
}

.--blanc{
  background:$white; 
  }

section header, article header{
  // @include flex-start;
  padding:15px;
  animation: openSlide 0.8s ease-in-out 500ms;
} 

section{
   padding-bottom:40px;
   align-self:center; 
  }

.main_container {
  padding:20px;
  @include flex-center;
  flex-wrap:wrap;
  background:$greylight;
}
