/**************
Page
**************/
.main__resto{
  position:relative;
  border-radius: 30px 30px 0px 0px;
  padding:20px;
  background:$greylight02;
  margin-top:-45px;
  z-index:20;
  @include for-smphone{
    padding:4px;

  }
  @include for-phone{
    padding:12px
  }
  header {
    width:95%; 
    padding-top:20px;
    @include flex-icon;
    
   
    h2{
      font-size:26px;
      color:$black;
      align-self:baseline; 
      margin:0;
      padding:0; 
      @include for-desktop{
        font-size:30px;
        margin:10px 0 0 40px;
        
      }
      }
      .love{
        font-size:22px;
        align-self:baseline; 
      } 
      .love:hover{
        color:$white; 
      } 
  }
  h3{
    text-transform:uppercase;
    font-weight: normal;
    font-size:17px;
  }
  section {
    @include flex-center;
   
     
  }
  article{
    animation: smooth 1.2s ease-out;
    @include for-desktop{
      @include flex-start02; 
     margin:20px; 
     h3{
      font-size:19px;
    }
    }
    @include for-tablet{
      @include flex-start02; 
    }
    // @include for-phone{
    //   @include flex-center;
    //   flex-wrap:wrap;
    // }
    
  }
}





