/**************
BASE
20/01/2022
**************/

/**
 * Set up a decent box model on the root element
 */
 
@charset "utf-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
  }

html { 
	overflow:auto;	
	overflow-x:hidden;	
 }

body {	
	background: $color-background;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Arial','Verdana',sans-serif;
}
