/**************
BASE
20/01/2022
**************/

@charset "utf-8";

* {
	box-sizing: border-box;
	@include margpad; 
  }

html { 
	overflow:auto;	
	overflow-x:hidden;	
 }

body {	
	background: $gradient-reverse;/*$colour-background*/
	font-family: $font-site;
	opacity:0.98;
	font-family: $font-web;
}
