/**************
Typography rules
20/01/2022
**************/

/***************
TYPO , LINKS
***************/
/* liens , a:visited*/
a:link, a:visited{text-decoration: none; color:$white;} 
a:hover { text-decoration: none; color:$colour-primary;} 

p { 
	margin: 0px;
	padding:10px;
	line-height: 1.2; 
    font-size: 13px;
    color: $grey; 
}

hr { 
border: none;
overflow: visible;   
}

.--vert{ 
	width:40px;
	border-bottom: 3px solid $colour-tertiary;
	margin-top:8px;
	padding-bottom:8px;
}

/***************
HGROUP
h1,h2,h3{
	text-align:left;
	margin-left:9px;
}
***************/
h1{
   font-weight:bold;
   font-size: 25px; 
	padding:8px;
}
.title{ font-family:$font-logo;}
h1.title{ color:#000; font-size:32px;}
h2.title{ font-size:28px;text-align:left;}
h3.title{ color:#fff; font-size:18px;font-weight:normal;}

h2{
font-size: 17px;
	color:#444;
}

h3{
	font-size: 22px;
	text-align: left;
	margin:10px 0 12px 8px;
	}


h4{
	font-size: 20px;
	text-align: left;
	margin:10px 0 12px 8px;
	animation: smooth 800ms ease-in 550ms;
	
}