/**************
Typography rules
20/01/2022
**************/

body {
	margin: 0;
	padding: 0; 
	font-family: 'Roboto Mono', monospace;
	font-family: 'Arial','Verdana',sans-serif;
}


a:link, a:visited{text-decoration: none; color:#0065fc;} 
a:hover { text-decoration: underline; color:#3366ff;} 


p { 
	margin: 0px;
	padding:10px;/*10*/
	line-height: 1.2; 
    font-size: 13px;
    color: #444; 
}

.small { 
	margin:0px;
	line-height: 0.1;
	padding-top:3px;
    font-size: 11px; 
    color:#777; 
}
.accroche { 
	margin:40px;
    font-size: 16px; 
	text-align:center;
	color:#656565;
	/* padding:40px; */

}

/***************
HGROUP
h1,h2,h3{
	text-align:left;
	margin-left:9px;
}
ex 
$font-size: 7rem 5rem 4rem 2rem;
.form{
  &__field {
      & label {
        font-size: nth($font-size, 4);
      }
  }
}
***************/



h1{
	/* color: rgb(233, 67, 67);	 */
	font-weight:bold;
	font-size: 21px; 
	text-align:left;
}
.title{ font-family: 'Shrikhand', cursive;}
h1.title{ color:#000; font-size:32px;text-align:center;}
h3.title{ color:#fff; font-size:18px;font-weight: normal;}

h2{
font-size: 17px;
	color:#444;
}

h3{
	font-size: 18px;
	text-align: left;
	margin:10px 0 20px 8px;
	}