// hack btn cf OC cours
.btn {
    position: relative;
    z-index: 1;
    &:hover {
      &::after {
          opacity: 1;
      }
  }
  &::after {
      content: "";
      position: absolute;
      background: $gradient;
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms;
  }
  }

/**/

@mixin for-phone {
  @media only screen  (max-width:map-get($breakpoints, mobile)) { @content; }
}
@mixin for-tablet {
  @media only screen and (min-width:map-get($breakpoints,mobile)) and (max-width:map-get($breakpoints,medium))  { @content; }
}
@mixin for-desktop {
  @media (min-width: 991px) { @content; }
}

@mixin for-phone {
    @media only screen and (max-width:map-get($breakpoints, mobile)) { 
      @content; 
    }
  }
  @mixin for-tablet {
    @media only screen and (min-width:map-get($breakpoints, mobile)) and (max-width:map-get($breakpoints, tablet)  { 
      @content; 
    }
  }
  @mixin for-desktop {
    @media (min-width: map-get($breakpoints, desktop)) { 
      @content; 
    }
  }