/**************
MAIN
20/01/2022
**************/
/* utils */
/**************
Functions
20/01/2022
**************/
/**************
Helpers
20/01/2022
**************/
/**************
Variable
20/01/2022
Ohmyfood !
Primaire #9356DC
Secondaire  #FF79DA 
Tertiaire #99E2D0 
**************/
/* fonction degrade black ?*/
/**/
/**/
/* font */
/**************
Mixins
20/01/2022
**************/
/***************
icons
***************/
i.fa-list-ul, i.fa-mobile-alt, i.fa-store {
  font-size: 20px;
  width: 24px;
  margin: 8px;
  color: #777;
}
a i.fa-list-ul:hover, a i.fa-mobile-alt:hover, a i.fa-store:hover {
  width: 24px;
  margin: 8px;
  color: #FF79DA;
}

i.fa-mobile-alt {
  font-size: 22px;
}

/* icon style*/
i.fa-map-marker-alt {
  padding: 12px;
  color: #333;
  width: 25px;
}

/* base */
/**************
BASE
20/01/2022
**************/
/**
 * Set up a decent box model on the root element
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
  overflow-x: hidden;
}

body {
  background: #ddd;
  font-family: "Roboto Mono", monospace;
  font-family: "Arial", "Verdana", sans-serif;
}

/**************
Reset/normalize
20/01/2022
**************/
/**************
Typography rules
20/01/2022
**************/
/***************
TYPO , LINKS
***************/
/* liens */
a:link, a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #9356DC;
}

p {
  margin: 0px;
  padding: 10px;
  line-height: 1.2;
  font-size: 13px;
  color: #777;
}

hr {
  border: none;
  overflow: visible;
}

.--vert {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  margin-top: 8px;
  padding-bottom: 8px;
}

/***************
HGROUP
h1,h2,h3{
	text-align:left;
	margin-left:9px;
}
***************/
h1 {
  /* color: rgb(233, 67, 67);	 */
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin: 0px 20px 0 20px;
  padding: 8px;
}

.title {
  font-family: "Shrikhand", cursive;
}

h1.title {
  color: #000;
  font-size: 32px;
  text-align: center;
}

h2.title {
  font-size: 28px;
  text-align: left;
}

h3.title {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

h2 {
  font-size: 17px;
  color: #444;
}

h3 {
  font-size: 22px;
  text-align: left;
  margin: 10px 0 12px 8px;
}

/* components */
/**************
BoxThumbs
20/01/2022
**************/
/*****************
  container
******************/
.item {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  background-color: #fff;
}

figure.item {
  width: 336px;
  margin: 10px;
}
figure.item img {
  width: 336px;
  height: 174px;
  object-fit: cover;
  border-radius: 14px 14px 0px 0px;
  z-index: 7;
}
figure.item .love {
  font-size: 22px;
  color: #000;
  align-self: center;
  overflow: hidden;
  margin-top: 0px;
}
figure.item .love:hover {
  color: #fff;
  overflow: hidden;
  background: linear-gradient(#FF79DA, #9356DC);
}
figure.item .__new {
  background-color: #99E2D0;
  position: absolute;
  margin: 10px 0 0 250px;
  padding: 8px;
  font-size: 13px;
  color: #308b75;
  z-index: 5;
}
figure.item figcaption {
  margin: 14px 20px 14px 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
figure.item figcaption h3 {
  line-height: 2;
  margin: 0px;
  flex: 1 100%;
}

/**************
Buttons
20/01/2022
**************/
/***************
  BTN
  **************/
.btn {
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #fff;
  cursor: pointer;
}

.--oh {
  background: linear-gradient(#FF79DA, #9356DC);
}
.--oha:link {
  color: #eaeaea;
  text-decoration: none;
}
.--oha:hover {
  color: #9356DC;
}

.--howto {
  color: #333;
  width: 90%;
  text-decoration: none;
  background: #eaeaea;
  text-align: left;
  margin: 10px 0 10px 20px;
  border-radius: 25px;
  box-shadow: 6px 6px 12px #dad8d8, -6px -6px 12px #F2F2F2;
}
.--howto .rond {
  border-radius: 100%;
  background-color: #9356DC;
  font-size: 14px;
  color: #fff;
  padding: 6px 9px 6px 9px;
  margin: 0 10px 0 -35px;
}
.--howto a:link {
  height: 100%;
  color: #333;
  text-decoration: none;
}
.--howto a:link:hover {
  background-color: #f5edff;
}
.--howto a:link:hover i.fas {
  color: #9356DC;
}

/*BTN resto */
.--carte {
  font-size: 15px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 14px 0 14px 16px;
  margin-bottom: 14px;
  border-radius: 20px;
  box-shadow: 6px 6px 12px #dad8d8, -6px -6px 12px #F2F2F2;
  /* font-size:14px; */
}
.--carte a {
  color: #333;
  text-decoration: none;
}
.--carte h3 {
  font-size: 18px;
  margin-left: -3px;
  line-height: 0.5;
}
.--carte .--euros {
  font-weight: bold;
  color: #000;
  margin-left: 30px;
}

.--carte a:hover {
  background: #e6fd75;
}

/* layout */
/**************
Flexbox
20/01/2022
**************/
/***************
FLEX
display: flex;
flex-direction: column;
align-items: center;

flex-flow: row wrap;
justify-content: center;
flex-direction: column;
justify-content: center;
align-items: center;
**************/
/**************
Footer
20/01/2022
**************/
/***************
  FOOTER
  ***************/
footer {
  width: 100%;
  margin-top: 40px;
  background: #333;
  color: #fff;
}

.footer_nav {
  display: flex;
}
.footer_nav h3 {
  line-height: 0.9;
}
.footer_nav ul a {
  color: #fff;
  margin: 10px;
  padding: 4px;
  text-decoration: none;
}
.footer_nav ul a:hover {
  text-decoration: underline;
}
.footer_nav ul li {
  font-size: 15px;
  padding: 3px;
}

.itemFooter {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

/**************
Forms
20/01/2022
**************/
/**************
Grid
20/01/2022
**************/
/**************
header
20/01/2022
**************/
.header-nav {
  width: 100%;
  text-align: center;
  background: #fff;
}
.header-nav hr {
  margin: 1px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 1, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header-nav h2 {
  text-align: center;
  font-size: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  padding-bottom: 50px;
}
.info header {
  display: flex;
  justify-content: center;
  background: #eaeaea;
}
.info h3 {
  width: 80%;
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
}
.info p {
  width: 80%;
  text-align: center;
  font-size: 18px;
  color: #656565;
}

/**************
Navigation
20/01/2022
**************/
.nav {
  background: #fff;
  padding-bottom: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 20px;
}

/**************
Sidebar
20/01/2022
**************/
/* pages */
/**************
Contact
20/01/2022
**************/
/**************
Home
20/01/2022
**************/
/***************
sections
**************/
main {
  max-width: 400px;
  /*400 992*/
  margin: 0px auto;
}

.--blanc {
  background: #fff;
}

section header, article header {
  padding: 15px;
}

section {
  padding-bottom: 40px;
  align-self: center;
}

.main_container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #F2F2F2;
}

/**************
Page
20/01/2022
**************/
/* Page Restaurant */
.header__resto {
  height: 260px;
  margin: 0;
  padding: 0;
  background-image: url("../images/small/restaurant_lapalettedugout_ohmyfood.jpg");
  z-index: 8;
}

.main__resto {
  border-radius: 30px 30px 0px 0px;
  z-index: 1;
  padding: 20px;
  background: #f6f6f6;
  margin-top: -30px;
}
.main__resto header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.main__resto header h2 {
  font-size: 26px;
  color: #000;
  align-self: baseline;
  margin: 0;
  padding: 0;
}
.main__resto header .love {
  font-size: 22px;
  align-self: baseline;
}
.main__resto header .love:hover {
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
}
.main__resto section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/*BTN*/
.--carte {
  font-size: 15px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 14px 0 14px 16px;
  margin-bottom: 14px;
  border-radius: 20px;
  box-shadow: 6px 6px 12px #dad8d8, -6px -6px 12px #F2F2F2;
  /* font-size:14px; */
}
.--carte a {
  color: #333;
  text-decoration: none;
}
.--carte h3 {
  font-size: 18px;
  margin-left: -3px;
  line-height: 0.5;
}
.--carte .--euros {
  font-weight: bold;
  color: #000;
  margin-left: 30px;
}

.--carte a:hover {
  background: #e6fd75;
}

/* theme */
/**************
Admin 
20/01/2022
**************/
/**************
Theme
20/01/2022
**************/
/* vendors */
/**************
Booxstrap
20/01/2022
**************/
/**************
jQuery
20/01/2022
**************/

/*# sourceMappingURL=style.css.map */
