/**************
MAIN
20/01/2022
31/01/22
**************/
/* utils */
/**************
Variable
20/01/2022
Ohmyfood !
Primaire #9356DC
Secondaire  #FF79DA 
Tertiaire #99E2D0 
**************/
/* fonction degrade black ?*/
/**/
.yellow {
  background-color: #e6fd75;
}

.pink {
  background-color: #fa94be75;
}

/**/
/**/
/* font */
/**************
Mixins
20/01/2022
**************/
/***************
icons
***************/
@keyframes fontgradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
i.fa-heart {
  color: #000;
  animation: fontgradient02 0.8s ease-in-out 150ms;
}
i.fa-heart:hover {
  color: transparent;
  font-weight: bold;
  /* :) */
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}
i.fa-heart:hover::before {
  transition: color 300ms ease-in-out;
}

i.fa-list-ul, i.fa-mobile-alt, i.fa-store {
  font-size: 20px;
  width: 24px;
  margin: 8px;
  color: #777;
}
i.fa-list-ul:hover, i.fa-mobile-alt:hover, i.fa-store:hover {
  width: 24px;
  margin: 8px;
  color: #FF79DA;
}

i.fa-mobile-alt {
  font-size: 22px;
}

/* icon style*/
i.fa-map-marker-alt {
  padding: 12px;
  color: #333;
  width: 25px;
}

/**************
Flexbox
20/01/2022
**************/
/***************
FLEX
display: flex;
flex-direction: column;
align-items: center;

flex-flow: row wrap;
justify-content: center;
flex-direction: column;
justify-content: center;
align-items: center;
**************/
/**************
Functions
20/01/2022
**************/
@keyframes turnOver {
  from {
    opacity: 0;
    transform: rotate(360deg);
  }
  to {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
@keyframes openSlide {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes openSlide02 {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}
@keyframes slideX {
  from {
    opacity: 0.6;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(-100px);
  }
}
@keyframes slideX02 {
  from {
    opacity: 0.2;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes smooth {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@keyframes shakeX {
  0% {
    color: #fff;
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    opacity: 0.5;
    transform: translateX(5px);
  }
  60% {
    color: #ccc;
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes shakeY02 {
  0% {
    opacity: 0;
    background: #fff;
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-15px);
  }
  40% {
    opacity: 0.3;
    transform: translateY(15px);
  }
  60% {
    color: #ccc;
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes shakeY {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* base */
/**************
BASE
20/01/2022
**************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
  overflow-x: hidden;
}

body {
  background: linear-gradient(#9356DC, #FF79DA);
  /*$colour-background*/
  font-family: "Roboto Mono", monospace;
  opacity: 0.98;
  font-family: "Arial", "Verdana", sans-serif;
}

/**************
Reset/normalize
20/01/2022
**************/
/**************
Typography rules
20/01/2022
**************/
/***************
TYPO , LINKS
***************/
/* liens , a:visited*/
a:link, a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #9356DC;
}

p {
  margin: 0px;
  padding: 10px;
  line-height: 1.2;
  font-size: 13px;
  color: #777;
}

hr {
  border: none;
  overflow: visible;
}

.--vert {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  margin-top: 8px;
  padding-bottom: 8px;
}

/***************
HGROUP
h1,h2,h3{
	text-align:left;
	margin-left:9px;
}
***************/
h1 {
  font-weight: bold;
  font-size: 25px;
  padding: 8px;
}

.title {
  font-family: "Shrikhand", cursive;
}

h1.title {
  color: #000;
  font-size: 32px;
}

h2.title {
  font-size: 28px;
  text-align: left;
}

h3.title {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

h2 {
  font-size: 17px;
  color: #444;
}

h3 {
  font-size: 22px;
  text-align: left;
  margin: 10px 0 12px 8px;
}

h4 {
  font-size: 20px;
  text-align: left;
  margin: 10px 0 12px 8px;
  animation: smooth 800ms ease-in 550ms;
}

/* components */
/**************
BoxThumbs
20/01/2022
**************/
/*****************
  container
******************/
.item {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  background-color: #fff;
  margin: 15px 20px 20px 10px;
}

figure.item {
  width: 336px;
  padding-bottom: 4px;
}
figure.item img {
  width: 336px;
  height: 174px;
  object-fit: cover;
  border-radius: 14px 14px 0px 0px;
  z-index: 7;
}
figure.item .love {
  font-size: 22px;
  align-self: center;
  overflow: hidden;
}
figure.item .love:hover {
  color: #fff;
}
figure.item .__new {
  background-color: #99E2D0;
  position: absolute;
  margin: 10px 0 0 250px;
  padding: 8px;
  font-size: 13px;
  color: #308b75;
  z-index: 5;
}
figure.item figcaption {
  margin: 0px 20px 10px 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
figure.item figcaption h4 {
  line-height: 2;
  margin: 0px;
  flex: 1 100%;
}

/**************
Buttons
20/01/2022
**************/
/***************
  BTN
**************/
.btn {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #fff;
  cursor: pointer;
  animation: smooth 600ms ease-in-out 150ms;
}

/* btn nav */
.--howto {
  width: 90%;
  background: #f6f6f6;
  text-align: left;
  margin: 10px 0 10px 20px;
  border-radius: 25px;
  box-shadow: 6px 6px 12px #dad8d8, -6px -6px 12px #F2F2F2;
}
.--howto a {
  color: #000;
}
.--howto .rond {
  border-radius: 100%;
  background-color: #9356DC;
  font-size: 14px;
  color: #fff;
  padding: 6px 9px 6px 9px;
  margin: 0 10px 0 -35px;
}
.--howto:hover {
  background-color: #f5edff;
  transition: opacity 200ms ease-in 200ms, background 200ms ease-out 300ms;
  /* 1*/
}
.--howto:hover i.fas {
  color: #9356DC;
}

/* BTN rose */
.--oh {
  background-color: #9356DC;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-color: white;
  box-shadow: 0 1px 4px #9356DC;
  opacity: 0.9;
}
.--oh:link {
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: opacity 200ms ease-in 200ms, background-color 200ms ease-in 300ms;
  /* 1*/
}
.--oh:hover {
  background-color: white;
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 0.8;
  border-color: #fff;
  box-shadow: 0 2px 6px #FF79DA;
  transition: opacity 200ms ease-in 200ms, background-color 200ms ease-out 300ms;
  /* 1*/
}
.--oh:active {
  border-color: #fff;
}

/*BTN resto */
.icon {
  right: 0px;
  width: 0%;
  opacity: 0.2;
  background: #99E2D0;
}
.icon i.fas {
  font-size: 20px;
  display: block;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.--txt {
  width: 100%;
  padding: 14px 0 14px 16px;
}
.--txt h3 {
  font-size: 18px;
  margin-left: -3px;
  line-height: 0.5;
}
.--txt p {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  height: 20px;
}
.--txt p .--euros {
  padding-right: 24px;
  font-weight: bold;
  color: #000;
}
.--txt p .--legend {
  overflow: hidden;
  text-overflow: ellipsis;
}

.--carte {
  font-size: 15px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  border-radius: 20px;
  /**/
  overflow: hidden;
  text-overflow: ellipsis;
  animation: openSlide 600ms ease-out 550ms;
  box-shadow: 6px 6px 12px #dad8d8, -6px -6px 12px #F2F2F2;
  cursor: pointer;
}
.--carte:hover {
  transition: opacity 200ms ease-in 200ms, background 200ms ease-out 300ms;
  /* 1*/
}
.--carte:hover .--txt {
  transition: background 200ms ease-out 300ms;
  /* 1*/
}
.--carte:hover p {
  height: 20px;
}
.--carte:hover p .--legend {
  overflow: hidden;
  text-overflow: ellipsis;
}
.--carte:hover p .--euros {
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 200ms ease-out 300ms, opacity 200ms ease-in 200ms;
  /* 1*/
}
.--carte:hover .icon {
  width: 5%;
  opacity: 1;
  animation: slideX02 500ms ease-in-out 20ms;
  width: 25%;
}
.--carte:hover .icon i.fas {
  animation: turnOver 1.4s ease-out 340ms;
}

/* layout */
/**************
Footer
20/01/2022
**************/
/***************
  FOOTER
  ***************/
footer {
  width: 100%;
  background: #333;
  color: #fff;
}

.footer_nav {
  display: flex;
}
.footer_nav h3 {
  line-height: 0.9;
}
.footer_nav ul a {
  color: #fff;
  margin: 10px;
  padding: 4px;
  text-decoration: none;
}
.footer_nav ul a:hover {
  text-decoration: underline;
}
.footer_nav ul li {
  font-size: 15px;
  padding: 3px;
}

.itemFooter {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

/**************
header
20/01/2022
**************/
.header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 7px 16px 2px rgba(0, 0, 0, 0.4);
}
.header-nav h1 {
  animation: shakeX 800ms ease-out 250ms;
}
.header-nav h2 {
  text-align: center;
  font-size: 16px;
}
.header-nav .back {
  position: relative;
  color: #000;
  font-size: 22px;
  left: -70px;
}
.header-nav .back:hover i.fas {
  animation: shakeX 0.8s ease-in-out 150ms;
  color: #9356DC;
}

.header-map {
  opacity: 0.6;
  background: #f6f6f6;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  padding-bottom: 50px;
}
.info header {
  opacity: 0.85;
  display: block;
  width: 100%;
  background: #eaeaea;
}
.info header h2 {
  text-align: center;
}
.info h3 {
  width: 80%;
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
}
.info p {
  width: 80%;
  text-align: center;
  font-size: 18px;
  color: #656565;
}

/* Page Restaurant */
.header__resto {
  height: 260px;
  margin: 0;
  padding: 0;
  background-image: url("../images/small/restaurant_lanoteenchantee_ohmyfood.jpg");
}

/**************
Navigation
20/01/2022
**************/
.nav {
  background: #fff;
  padding-bottom: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 20px;
}

/* pages */
/**************
Home
20/01/2022
**************/
/***************
sections
**************/
main {
  max-width: 400px;
  /*400 992*/
  margin: 0px auto;
}

.--blanc {
  background: #fff;
}

section header, article header {
  padding: 4px;
}

section {
  padding-bottom: 40px;
  align-self: center;
}

.main_container {
  padding: 20px;
  background: #F2F2F2;
}

/**************
Page
20/01/2022
**************/
.main__resto {
  border-radius: 30px 30px 0px 0px;
  padding: 20px;
  background: #f6f6f6;
  margin-top: -30px;
}
.main__resto header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  animation: smooth 600ms ease-in-out 150ms;
}
.main__resto header h2 {
  font-size: 26px;
  color: #000;
  align-self: baseline;
  margin: 0;
  padding: 0;
}
.main__resto header .love {
  font-size: 22px;
  align-self: baseline;
}
.main__resto header .love:hover {
  color: #fff;
}
.main__resto h4 {
  text-transform: uppercase;
}
.main__resto section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
