/**************
BoxThumbs
20/01/2022
**************/

/*****************
  container
******************/
  .item{
    box-shadow: $shadowbox;
    border-radius: 14px;
    background-color: $white;
  }

  figure.item{
    width:336px;
    margin:10px;
      img {
      width: 336px;
      height: 174px;
      object-fit: cover;
      border-radius: 14px 14px 0px 0px;
      z-index:7;
    }
      .love{
      font-size:22px;
      color:$black;
      align-self:center;  
      overflow:hidden;
      margin-top:0px; 
    }
      .love:hover{ 
        color:$white; 
        overflow:hidden;
        background: $gradient; 
    }
      .new {
      background-color: #99E2D0;
      position:absolute;
      margin:10px 0 0 250px;
      padding:8px;
      font-size:13px;
      color:#308b75;
      z-index:5;
    }
      figcaption  {
      margin:14px 20px 14px 14px;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;  
      justify-content: space-between; 
       h3  {
        line-height: 2.0; 
        margin:0px ; 
        flex: 1 100%; 
      }
    
   }
  }
  
 

