/**************
BoxThumbs
20/01/2022
**************/

/*****************
  container
  @include for-phone-only{
    
    background:blueviolet;
  }
  @include for-tablet{
    
    background:rgb(103, 248, 67);
  }
******************/
  .item{
    box-shadow: $shadowbox;
    border-radius: 14px;
    background-color: $white;
    margin:15px 20px 20px 10px;

    
  }

  figure.item{
    width:336px;
    padding-bottom:4px;
      img {
      width: 336px;
      height: 174px;
      object-fit: cover;
      border-radius: 14px 14px 0px 0px;
      z-index:7;
    }
      .love{
      font-size:22px;
      // color:$black;
      align-self:center;  
      overflow:hidden;
    }
      .love:hover{ 
        color:$white; 
        // background-image: $gradient;
        // stroke: black;
    }
      .__new {
      background-color: $colour-tertiary;
      position:absolute;
      margin:10px 0 0 250px;
      padding:8px;
      font-size:13px;
      color:$colour-tertiary-dark; 
      z-index:5;
    }
      figcaption  {
      margin:0px 20px 10px 14px;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;  
      justify-content: space-between; 
       h4  {
        line-height: 2.0; 
        margin:0px ; 
        flex: 1 100%; 
      }
    
   }
  }
  
 

