/**************
Buttons
20/01/2022
**************/

/***************
  BTN
**************/
.btn{
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  overflow: hidden;
  font-size: 16px;
  border-radius: 50px;
  @include shadow;
  cursor: pointer; 
  animation: smooth 600ms ease-in-out 150ms;
  // animation: shakeY02 800ms ease-in 550ms;
  // transition: opacity 200ms ease-in 200ms, background 200ms ease-out 300ms;
}


/* btn nav */
.--howto {
  width:90%; 
  background: $greylight02;
  text-align:left; 
  margin:10px 0 10px 20px; 
  border-radius: 25px;
  @include shadow02;
  a{
    color:$black;
  }
  .rond{
  border-radius: 100%;
  background-color:$colour-primary;
  font-size:14px;
  color:$white;
  padding:6px 9px 6px 9px;
  margin: 0 10px 0 -35px;
 }
 &:hover {
    background-color: $colour-primary-light;
    transition: opacity 200ms ease-in 200ms, background 200ms ease-out 300ms;/* 1*/
    i.fas{
      color:$colour-primary;
     }
    }
}


/* BTN rose */
.--oh {
  background-color: $colour-primary;
  background-image: $gradient;
  border-color: lighten($white, 80%);
  box-shadow: 0 1px 4px $colour-primary;
  opacity:0.9;
  // margin-bottom:50px;
   &:link{
    background-image: $gradient;
    transition: opacity 200ms ease-in 200ms, background-color 200ms ease-in 300ms;/* 1*/
  }
  &:hover {
    background-color: lighten($colour-primary, 80%);
    background-image: $gradient-reverse;
    opacity:0.8;
    border-color: $white; 
    box-shadow: 0 2px 6px $colour-secondary; 
    transition: opacity 200ms ease-in 200ms, background-color 200ms ease-out 300ms;/* 1*/
   }
   &:active {
    // color: $colour-tertiary;
    border-color: $white; //  
   }
}


//@include flex-center;
//@include flex-start;
//@include flex-icon;

// .icon{
//   display:block;
//   height:100%;
//   width: 30px;
//   background:#ccc;
 
//   }

/*BTN resto */
.icon{
  right: 0px;
  width: 0%;
  .fas {
    font-size: 20px;
    display:block;
    margin:0 auto;
    height: 70px;
    color:$white;
    background:$colour-tertiary;
  }
} 


.--txt{
  // padding:14px 0 14px 16px;
  background: $greylight02;
  p { 
    // margin: 0px;
    // padding:0px;
    overflow:hidden;
text-overflow:ellipsis;
    font-size: 15px; 
    // height:20px;
   .--euros{
    font-weight: bold;
    color:#000;
    margin-left:30px;
  }
}
}



.--carte {
  // margin: auto;
  font-size:15px;
  background: $white;
  @include flex-start;
  // padding:14px 0 14px 16px;
  padding:0;
  margin-bottom:14px;
  border-radius: 20px;
  /**/
  overflow:hidden;
  text-overflow:ellipsis;
  /**/
  animation: openSlide 600ms ease-out 550ms;
  @include shadow02;
  /* font-size:14px; */
  // animation: openSlide 0.2s ease-in-out 200ms;

  a{
    color:$greydark;
    text-decoration: none;
  }
  h3{
    font-size:18px;
    margin-left:-3px;
    line-height:0.5;
    
  }

  &:hover{
    left: -72%;
    transition: opacity 200ms ease-in 200ms, background 200ms ease-out 300ms;/* 1*/
    .here{

      transition: background 200ms ease-out 300ms;/* 1*/
    }
    p{
      height:20px;
    overflow:hidden;
    text-overflow:ellipsis;
      
    .--euros{
      font-weight: bold;
      overflow:hidden;
      text-overflow:ellipsis; 
      color:#000;
      transition: margin 200ms ease-out 300ms;/* 1*/
      margin-left:-20px;
    }
    
    }
    .icon  {
      height:100%;
      width: 20%;
      
    }

   
  
  }

}




      
    
     
      
  