/**************
Buttons
20/01/2022
**************/


/***************
  BTN
  **************/
  .btn{
      border: none;
      color: $white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 50px;
      @include shadow;
      cursor: pointer;     
 }

 .--oh {
  // color: $white;
  background: $gradient;  
   &a:link{
    color:$greylight03;
    text-decoration: none;
  }
  &a:hover {
    color: $colour-primary
   }

} 

.--howto {
    color:$greydark;
    width:90%; 
    text-decoration: none;
    background: $greylight03;
    text-align:left; 
    margin:10px 0 10px 20px; 
    border-radius: 25px;
    @include shadow02;
   .rond{
    border-radius: 100%;
    background-color:$colour-primary;
    font-size:14px;
    color:#fff;
    padding:6px 9px 6px 9px;
    margin: 0 10px 0 -35px;
   }
   a:link{
    height:100%;
    color:$greydark;
    text-decoration: none;
      &:hover {
      background-color: $colour-primary-light;
      i.fas{
        color:$colour-primary;
       }
      }
  }
}
    
/*BTN resto */
.--carte {
  font-size:15px;
  background: $white;
  display:flex;
  align-items:flex-start;
  flex-wrap:nowrap;
  justify-content: space-between;
  padding:14px 0 14px 16px;
  margin-bottom:14px;
  border-radius: 20px;
  @include shadow02;
  /* font-size:14px; */
  a{
    color:$greydark;
    text-decoration: none;
  }
  h3{
    font-size:18px;
    margin-left:-3px;
    line-height:0.5;
  }
  .--euros{
    font-weight: bold;
    color:#000;
    margin-left:30px;
  }
  

}

.--carte a:hover{
  background: $yellow;
}
      
    
     
      
  