/***************
FORM
***************/

/**/
i.fa-heart{
    color: $black;
    font-size:22px;
    cursor: pointer;
    &:hover {
      color:transparent;
      font-weight: bold;/* :) */
      position: relative;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: $gradient-reverse;
      animation: heart-anim 2s ease-out 120ms;  
    }
  }

  
  i.fa-list-ul, i.fa-mobile-alt, i.fa-store { 
      font-size:20px;
      width:24px;
      margin:8px;
      color:$grey;
      &:hover{ 
          width:24px;
          margin:8px;
          color:$colour-secondary;
          }
    }
    
    i.fa-mobile-alt{
    font-size:22px;
    }
    
  /* icon style*/
    i.fa-map-marker-alt { 
    padding:12px; 
    color:$greydark;
    width:25px;
    }
  
  
  
  
  